<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<logger name="com.estsoft.mysite" level="WARN" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>

	<root level="WARN">
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>